h1 {
    text-align: center;
}

.io-container {
    display: flex;
    width: 100%;
    gap: 1rem;
    align-items: flex-start;
    padding: 0 1rem;
    box-sizing: border-box;
}

.input-output-container {
    flex: 1;
    position: relative;
}

.copy-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 1;
}

.io-textarea {
    box-sizing: border-box;
    width: 100%;
    resize: none;
    overflow: hidden;
    min-height: 10em;
    height: auto;
}

.settings-sub-container {
    display: flex;
    flex-direction: column;
}